<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robocapp">
    <!-- qr code -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RobocApp">
        <activity
            android:name="com.example.robocapp.qrscanner1"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.QRScanRec"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.jurynavbar"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.addTeam"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.addUser"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.juryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.recActivity"
            android:exported="false"/>
        <activity
            android:name="com.example.robocapp.recnavbar"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.UserActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.robocapp.homologation.JuniorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.homologation.AcceuilActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.homologation.AutonomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.homologation.InputActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.homologation.SuiveurActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.homologation.ToutTerrainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.QRScanner"
            android:exported="false" />
    </application>

</manifest>