<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robocapp">
    <!-- qr code -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RobocApp">
        <activity
            android:name="com.example.robocapp.jury.QRScannerJury"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.reception.QRScannerReception"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.jury.NavbarJury"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.AddTeam"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.AddUser"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.jury.JuryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.reception.NavbarReception"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.robocapp.homologation.NavbarHomologation"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.homologation.InputActivity"
            android:exported="false" />
        <activity
            android:name="com.example.robocapp.homologation.QRScannerHomologation"
            android:exported="false" />
    </application>

</manifest>